.blue-button {
    font-family: Bitter;
    min-width: 155px;
    padding: 0 15px;
    height: 41px;
    text-align: center;
    background-color: #73BBFF;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    cursor: pointer;
}