.projectDetails {
    padding: 100px;
    height: 700px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.project-details-title {
    font-size: 32px;
}

.project-details-desc {
    margin-bottom: 20px;
}