.slide-container {
    background: #C4C4C4 linear-gradient(199.31deg, #73BBFF -23.36%, rgba(196, 196, 196, 0) 60.32%);
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    padding-top: 70px;
}

.slide {
    display: flex;
    justify-content: stretch;
    width: 1234px;
}

.slide button {
    width: 335px;
    height: 63px;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 21px;
}

.slide-content {
    display: flex;
    flex-direction: column;
    width: 839px;
}

.slide-content div {
    color: #001454;
}

.slide-heading {
    font-size: 60px;
}

.slide-sidepic, .slide-content {
    flex: 0 1 auto;
}

.slide-sidepic {
    height: 415px;
}

.slide-description {
    margin-top: 36px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 36px;
    line-height: 136%;
}