.our-projects-container {
    display: flex;
    color: #001454;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.our-projects-content {
    display: flex;
    flex-direction: column;
    width: 1094px;
}

.our-projects-heading {
    margin-top: 16px;
    font-size: 40px;
}

.our-projects-description {
    font-size: 26px;
    text-align: center;
    margin-bottom: 17px;
}

.our-projects-content button {
    align-self: flex-end;
    margin: 30px 0;
}

.our-projects-cards {
    display: flex;
    justify-content: space-between;
}